# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock
src/content/posts/guide/markdown-extended.md
src/content/posts/guide/cover.jpeg
src/content/posts/guide/index.md
src/content/posts/guide/BaiduNetdisk.md
src/content/posts/guide/linux&windows.md
src/content/posts/guide/matlab-matconvnet.md
src/content/posts/guide/MDPI.md
src/content/posts/guide/overleaf.md
src/content/posts/guide/Ubuntu-cuda.md
src/content/posts/guide/wsl_cuda.md
src/content/posts/guide/wsl_ssh.md
